.button{
    background : #E6B333;
    width: 100%;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    height: 40px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    background-color: #E69512;
    border-radius: 0;
}