body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header_flex{
  display : flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #000000;
  flex: 100%;
}
.sidebarFlex{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
 
}
.sidebar{
 background: #F6F6F6;
 color: black;
 border: none;
 border-radius: 15px;
  flex: 10%;
  height: 190px;
}
.mainPage{
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  padding-top: 30px;
}
.test_block{
  flex: 80%;
  background: #F6F6F6;
  border: none;
  border-radius: 15px;
  color: black;
  margin-left: 50px;
  padding: 25px 25px;
}
.sidebarFlex a {
  color: #000000;
  margin: 10px 0 ;
  margin-left: 40px;
}
.sidebarFlex a:hover{
  color: blue;
  
}

.post{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px 30px;
  /* background-color: aliceblue; */
  background-color: white;
}
.post_profile_data{
  display: flex;
  margin-top: 10px;
  align-items: center;

  
}

.post_avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.post_text{

}
.post_photos{
  
}
.post_autor{
  margin: 0;
}
.post_text_info{
  display: flex;
  flex-direction: column;
}
.post_time{
 margin: 0;
  color: gray;
}
.seact_flex{
  display: flex;
  border-radius: 20px;
  border: 2px solid black;
  background-color: white;
  padding: 15px 25px;
 
}
.search_input{
  margin-right: 15px;
  
  height: 50px;
  width: 100%;
  border-radius: 10px ;
  color: black;
  padding-left: 10px;
  
}
.addPostButton{
  border-radius: 10px ;
  
  background-color: black;
  color: white;
}
.input_search{
  width : 300px;
  border-radius: 20px;
  border: none;
  padding: 8px 12px;
  outline: none;
}

.logout_name{
  margin-left: 10px;
}
.logout_avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1.5px solid white;
}
.logo{
  display: flex;
  align-items: center;
 
}
.logout_button{
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}